<center><h1>Welkom op de home pagina</h1></center>

<ul>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Home', root_path %></li>
</ul>

<center><textarea rows="6" cols="50">
  Welkom op de applicatie van Melvin Boers, veel pelzier met rondneuzen!
  </textarea></center>